html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: blue;
}

#nprogress .spinner-icon {
  border-top-color: blue;
  border-left-color: blue;
}

#nprogress .bar {
  background: blue;
}

.hero {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.nav-item a.is-tab, a.nav-item.is-tab {
  color: rgba(255, 255, 255, 0.9);
  background-color: blue;
}

.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.9);
  background-color: blue;
}

.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
  border-bottom: 3px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background-color: blue;
}

.nav .nav-toggle:hover {
  background-color: blue;
}
